<mat-toolbar color="primary"
  class="shadow">
  <mat-toolbar-row>

    <div class="search">
      <mat-icon>search</mat-icon>
      <input placeholder="Search">
    </div>


    <div class="icons ">
      <button mat-fab
        class="bg-success">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-fab
        class="bg-warning">
        <mat-icon>bookmark_border</mat-icon>
      </button>
      <button mat-fab
        class="bg-info">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab
        class="bg-danger">
        <mat-icon>delete_outline</mat-icon>
      </button>






    </div>
  </mat-toolbar-row>
</mat-toolbar>


<!--   <div>
      <ul>
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button>
            something
          </button>
        </li>
      </ul>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

    </div>

 -->
