ul li {
  list-style: none;
}
mat-toolbar {
  border-bottom: 1px solid #f0f4f7;
}
mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}
.search {
  background: #f0f4f7;
  height: 35px;
  width: 400px;
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
input {
  background: #efefef;
  border: none;
  margin-left: 20px;
}
input:focus {
  outline: none;
}
::placeholder {
  color: #8e8e8e;
  font-size: 18px;
}
.icons {
  display: flex;
  width: 300px;
  justify-content: space-around;
}
.icon-box {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rebeccapurple;
  color: white;
}
