<mat-toolbar class="shadow">
  <mat-toolbar-row>

    <div class="search">
      <mat-icon>search</mat-icon>
      <input placeholder="Search">
    </div>


    <div class="icons ">
      <button mat-fab
        color="white"
        class="white-shadow">
        <mat-icon class="dark-green">cloud_download</mat-icon>
      </button>
      <button mat-fab
        color="white"
        class="white-shadow">
        <mat-icon class="blue">bookmark_border</mat-icon>
      </button>
      <button mat-fab
        color="white"
        class="white-shadow">
        <mat-icon class="green">edit</mat-icon>
      </button>
      <button mat-fab
        color="white"
        class="white-shadow">
        <mat-icon class="purple">delete_outline</mat-icon>
      </button>


    </div>
  </mat-toolbar-row>
</mat-toolbar>


<!--   <div>
      <ul>
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button>
            something
          </button>
        </li>
      </ul>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

    </div>

 -->
