:host {
  overflow: hidden;
}
.container {
  margin-top: 70px;
  /*  background-color: teal; */
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
}
.photos {
  display: inline;
  box-sizing: border-box;
  border-radius: 5px;
  border: 10px solid white;
}
.photo-box {
  /*   background-color: violet; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
