<div>
  <div class="logo"><img src="../../../../assets/orgnzr.png"
      alt="logo"
      height="40"
      width="120">
    <mat-icon>
      menu
    </mat-icon>
  </div>
  <ul class="my-ul">
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="">
      <mat-icon>photo_library</mat-icon>
      <span class="my-span"> album</span>

    </li>
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/pics">
      <mat-icon>bookmark_border</mat-icon>
      <span class="my-span"> photoes</span>

    </li>
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/pics">
      <mat-icon>bookmark_border</mat-icon>
      <span class="my-span"> label</span>

    </li>
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/pics">
      <mat-icon> location_on</mat-icon>
      <span class="my-span"> location</span>

    </li>
  </ul>
</div>
