.logo {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 30px;
}
.myBtn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  height: 35px;
  margin-bottom: 10px;
}
.myBtn:hover {
  color: white;
  border-radius: 5px;
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}
.my-ul {
  padding-left: 20px;
}
.my-span {
  margin-left: 20px;
}
.toggle-btn {
  cursor: pointer;
}
