<div>
  <div class="logo">
    <img [src]="isOpened?'../../../../assets/orgnzr.png': '../../../../assets/small-lens.png'"
      alt="logo"
      height="40"
      [width]="isOpened?120:40">
    <mat-icon class="toggle-btn"
      *ngIf="isOpened"
      (click)="toggleSidebar()">keyboard_arrow_left</mat-icon>
  </div>
  <ul class="my-ul">
    <li *ngIf="!isOpened"
      mat-list-item
      (click)="toggleSidebar()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </li>
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="">
      <mat-icon class="dark-green">photo_library</mat-icon>
      <span class="my-span"> album</span>

    </li>
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/pics">
      <mat-icon class="purple">image</mat-icon>
      <span class="my-span"> photoes</span>

    </li>
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/pics">
      <mat-icon class="green">bookmark_border</mat-icon>
      <span class="my-span"> label</span>

    </li>
    <li class="myBtn"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/pics">
      <mat-icon class="blue"> location_on</mat-icon>
      <span class="my-span"> location</span>

    </li>
  </ul>
</div>
